<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="FileError" xsi:type="File" keepFileOpen="false"
        archiveAboveSize="5120000" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyMMdd_HHmm" maxArchiveFiles="500"
        layout="[${longdate}|${level}|${processid}|${threadid}|${logger}] ${message} ${exception:format=ToString}${newline}"
        header="#### Start [${longdate}] ####${newline}" footer="${newline}#### End [${longdate}] ####${newline}"
        fileName="Logs\Error\Tools.Error.log"/>

    <target name="FileStandard" xsi:type="File" keepFileOpen="true"
        archiveAboveSize="5120000" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyMMdd_HHmm" maxArchiveFiles="500"
        layout="[${longdate}|${level}|${processid}|${threadid}|${logger}] ${message} ${exception:format=ToString}"
        header="#### Start [${longdate}] ####${newline}" footer="${newline}#### End [${longdate}] ####${newline}"
        fileName="Logs\Standard\Tools.Log.log"/>

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
      layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception:format=ToString}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

  </targets>
  <rules>
    <logger name="GoogleAPI" minlevel="Info" writeTo="FileStandard" />
    <logger name="GoogleAPI" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
    <logger name="*" minlevel="Error" writeTo="FileError" />
    <logger name="*" minlevel="Trace" writeTo="FileStandard" />
  </rules>
</nlog>